/* reset, adapted from https://hankchizljaw.com/wrote/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	font-family: sans-serif;
	max-width: 40rem;
	margin: 1em auto;
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	margin-bottom: 0.5em;
}

ul {
	padding-left: 1em;
}

a {
	text-decoration-skip-ink: auto;
}

[hidden] { /* avoids specificity confusion */
	display: none;
}

@media(prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* components */

.tabs > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 1em 0;
	list-style-type: none;
}

.tabs article:not(:target) {
	display: none;
}

.site h2::before {
	content: "⚓ ";
}

.topics {
	padding: 0;
	list-style-type: none;
}

.topics > li::before {
	content: "🏷 ";
}

.topics > li + li {
	margin-bottom: 0.5em;
}

.topics > li > b {
	display: inline-block;
	margin-bottom: 0.5em;
	font-weight: normal;
}

.topics ul {
	margin-bottom: 1em;
	list-style-type: disc;
	line-height: 1.5;
}
