/* reset, adapted from https://hankchizljaw.com/wrote/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html,
body,
main {
	height: 100%; /* required for `.map` */
}

body {
	font-family: sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	margin-bottom: 0.5em;
}

ul {
	padding-left: 1em;
}

a {
	text-decoration-skip-ink: auto;
}

[hidden] { /* avoids specificity confusion */
	display: none;
}

@media(prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* components */

main {
	margin-top: 1em;
}

main > *:not(.fullwidth) {
	max-width: 40rem;
	margin: 0 auto;
}

.tabs > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 1em 0;
	list-style-type: none;
}

.tabs article:not(:target) {
	display: none;
}

.site h2::before {
	content: "⚓ ";
}

.topics {
	padding: 0;
	list-style-type: none;
}

.topics > li::before {
	content: "🏷 ";
}

.topics > li + li {
	margin-bottom: 0.5em;
}

.topics > li > b {
	display: inline-block;
	margin-bottom: 0.5em;
	font-weight: normal;
}

.topics ul {
	margin-bottom: 1em;
	list-style-type: disc;
	line-height: 1.5;
}

.map {
	height: 80%;
}

/* adapted from https://stackoverflow.com/a/40870439 -- XXX: magic numbers */
.map .site-anz,
.map .site-dep {
	display: flex;
	width: 3rem;
	height: 3rem;
	justify-content: center;
	border: 1px solid #FFF;
	position: relative;
	left: -1.5rem;
	top: -1.5rem;
	border-radius: 3rem 3rem 0;
	background-color: #EEE;
	transform: rotate(45deg);
}

.map .site-anz svg,
.map .site-dep svg {
	width: 2.5rem; /* XXX: magic number */
	stroke: currentColor;
	stroke-width: 3;
	stroke-linecap: square;
	stroke-linejoin: bevel;
	fill: none;
	transform: rotate(-45deg);
}

.map .site-dep svg {
	width: 1.5rem; /* XXX: magic number */
}
